body {
    background-color: #726A5A;
    font-family: "Ubuntu Mono", monospace;
    color: #1A1F1F;
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}
.text-box {
    

}
.text {
    background-color: #8E8B8D;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 30%;
    margin-right: 25%;
}

.header{
    display: flex;
    align-items: center;
}

.header-links{
    margin-left: auto;
    padding: 0;
    font-size: 20px;
}

.header-logo{
    margin-right: auto;
    padding: 0;
    height: 50px;
    width: 50px;
}
a{
    text-decoration: none;
    color: #1A1F1F;
    font-size: 20px;
    margin: 0 10px;
    padding: 0;

}

a:hover{
    color: #8E8B8D;
}

.filter-black{
    filter: invert(8%) sepia(8%) saturate(1021%) hue-rotate(131deg) brightness(96%) contrast(90%);
}
* {
    padding-left: 10px;
    padding-right: 10px;
}