@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotateLogo 2s linear forwards;
}

.language {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #1A1F1F;
    border-radius: 10px;
    padding: 20px;
}